#logo {
	width: 250px;
	height: 150px;
	position: absolute;
	margin-left: 120px;
	margin-top: -80px;
}

li {
	display: inline;
    margin-top: 30px;
    float: left;
    padding-right: 10px;
    /*margin-left: 15px;*/
    /*font-family: "Quentin Caps";*/
    font-size: 23px;
    font-weight: bold;
    color: #581415;
}

.dropdown {
    position: relative !important;
}


.dropdown-content {
	margin-top: 60px;
	/*margin-left: 110px;*/
    display: none;
    position: absolute !important;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
	background-color: #f1f1f1
}

.dropdown:hover .dropdown-content {
    display: block;
}


li#dropdownMenuButton {
	display: inline;
    margin-top: 50px;
    float: left;
    padding-right: 10px;
    /*margin-left: 15px;*/
    /*font-family: "Quentin Caps";*/
    font-size: 23px;
    font-weight: bold;
    color: #581415 !important;
}

li:hover {
	color: #C9B07C;
	cursor: pointer;
}

ul {
	/*margin-left: 30px;*/
	list-style: none;
    padding: 0;
    margin: 0;
    background: #1bc2a2;

}

/*
.modal-content {
	width: 800px;
}*/

.mapy {
	float: right !important;
}

.modalLogo {
	text-align: center;
}

.modal-content {
	background-color: #e5e5e5 !important;
}
/*ul li {
    display: block;
    position: relative;
    float: left;

}


li ul {
	display: none;
}

ul li a {
	display: block;padding: 1em;
	text-decoration: none;
	white-space: nowrap;
}

ul li a:hover {
	background-color: pink;
}


li:hover > ul {
   display: block;
   position: absolute;
}

li:hover li {
	float: none;
}

li:hover a {
	background-color: pink;
}

li:hover li a:hover {
	background-color: green;
}

.dropdown li ul li {
	border-top: 0;
}

ul ul ul {
	left: 100%;
	top: 0;
}

ul:before,
ul:after {
	content: "";
	display: table;
}

ul:after {
	clear: both;
}*/
nav {
	/*background-image: url("../images/wood.jpg");*/
	background-repeat: no-repeat;
	background-size: cover;
	padding: 40px 20px 40px 100px;
}

#navBar{
	margin-top: -20px;
	margin-bottom: 10px;

}
/*.container {
	margin-top: 20px;
}*/

#intro {

	margin-top: 100px;
}

h1 {
	font-size: 20px !important;
}

#image {
	margin-left: 25px;
}

#yelp {

	margin:50px;
}

#yelph2 {
	margin-left: -35px;
}

p {
	font-weight: 700;
	color: #581415;
}

.yelpName {
	font-style: italic;
	color: #666666;
}

h2 {
	font-size: 20px !important;
	font-weight: bold;
	text-align: center;
	font-variant: small-caps;
	text-decoration: underline;
	text-decoration-color: #C9B07C;
	/*color: #581415;*/
	color: #c41200 !important;

}

h4 {
	font-size: 15px !important;
	font-style: oblique;
}

#icons {
	margin-top: 60px;
	padding-left: 10px;
}


p.social {
	font-size: 10px;
}

/*footer {
	font-size: 12px;
	text-align: right;
	margin: 20px;
}*/

#location {
	margin-left: -95px;
}

#social-container {
	margin-left: 75px;
}

#revOne2 {
	border-style: solid;
	border-color: #C9B07C;
	border-width: thin;
	padding-top: 15px;
	width: 300px;
	text-align: center;
}

#revTwo2 {
	border-style: solid;
	border-width: thin;
	border-color: #C9B07C;
	padding-top: 15px;
	width: 300px;
	margin-left: 100px;
	text-align: center;
}

#revThree2 {
	border-style: solid;
	border-width: thin;
	border-color: #C9B07C;
	padding-top: 15px;
	width: 300px;
	margin-left: 100px;
	text-align: center;
}

#reviews {
	margin-left: 80px;
}

h3.email {
	font-weight: bold;
	font-size: 26px;
}
/*#revOne {
	margin-left: -50px;
}

#revTwo {
    margin-left: 30px;
}

#revThree {
    margin-left: 20px;
}*/

#deliveryModal {
	margin-top: 100px;
}

#aboutModal {
	margin-top: 100px;
}

#servicesModal {
	margin-top: 100px;
}

#orderModal {
	margin-top: 100px;
}

#contactModal {
	margin-top: 100px;
}

/*Version 2*/

#bodyPic {
	background-image: url("../images/bodyBckgrnd.png");
	background-size: cover;
	background-repeat: no-repeat;
	height: 500px;
	margin-top: -15px;
	position: relative;
}

.bodyText {
	color: #ecf0f0;
	text-align-last: center;
	letter-spacing: 2px;
	line-height: 200%;
	margin-top: 140px;

}

#yelp2 {
	margin: 30px;
	padding-left: 60px;
}


#actionBtn {
	text-align: center;
}

/*.socLinks {
	margin-right: -10px;
}*/

#openHours {
	margin-left: 100px;
}

.map {
	margin-left: 30px;
	margin-top: 70px;
}

footer {
	text-align: center;
	margin-bottom: 20px;
	font-size: 12px;
}

#socialIcons {
	margin-top: 50px;
	margin-left: 30px;
}

#connectCont {
	width: 400px;
	margin-left: 30px;

}

h3 {
	font-size: 15px !important;
	margin-bottom: 20px !important;
	font-style: oblique;
}

#deliveryPar {
	margin-left: 30px;
}

h4.modal-title {
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 22px !important;
    letter-spacing: 1px;
}

.mapOne {
	margin-left: 15px
}

body {
	background-color: #e5e5e5 !important;
	/*background-color: #e5e5e5 !important;*/
}

#hoursAndSocial {
	margin-top: 20px;
}

/*#phoneAndEmail {
	margin-top: -20px;
}*/

#contactInfo {
    margin-top: 10px;
}
p.border {
	border: solid !important;
	border-width: 0.5px !important;
	border-color: #cccccc !important;
	font-size: 15px;
	text-align-last: center;
	color: #333333;
	margin-left: 5px;
	margin-right: 5px;
	/*padding-left: 5px;
	padding-right: 5px;*/
	padding: 7px;
}

h1.tH {
	text-align: center;
	border: solid !important;
	border-width: 0.5px !important;
	border-color: #cccccc !important;
	margin-left: 5px;
	margin-right: 5px;
	letter-spacing: 0.5px;
}

#deliveryTable {
	border: solid;
	border-width: 0.5px !important;
	border-color: #7f7f7f;
	margin-left: 10px;
	margin-right: 10px;
}